.login--background{
    background-image: url(../Images/bg2.jpg);
    height: 100vh;  
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.login--text{
    padding-top: 10rem;
    color: white;
}
.login--text h2{
    font-size: 5rem;
    padding-bottom: 2rem;
    font-family: cursive;
}
.input--block{
    text-align: center;
    background-color: #f0f0f0;
    padding: 5rem;
    border-radius: 2rem;
    width: 50rem;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
 }

input {
    text-align: center;
    padding: 2rem;
    margin: 10px 5rem;
    border: 1px solid #c257bf;
    border-radius:  2rem;
    display: block;
  }
.red{
    color: red;
    font-size: 1.2rem;
}
.green{
    color: green;
    font-size: 1rem;
    font-size: 1.2rem;

}