
  body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-y: visible;
    overflow-y: visible;
  }
#gallery--text{
    padding-top: 4rem;
    color: #760c85;
}
#gallery--text h2{
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2rem;
    font-family: cursive;
    color: #760c85;
}

.image{
    width: 25rem;
    height: 30rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    box-shadow: #111;
    padding: 3rem;
    font-size: 1.5rem;
  }
.image-description{
    color: #111;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10vh;
    padding-bottom: 2rem;
  }
.not--found{
    background-color: #760c85;
    padding: 5rem;
    height: 30%;
    width: 40%;
    margin: 0 auto;
    border-radius: 2rem;
  }
.custom-style {
  display: flex;
  justify-content: center; 
  align-items: center; 
 
}
.notFound--text{
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

.image-container {
  transition: transform 0.3s ease-in-out;
}

.image-container.hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.drop-target {
  background-color: #f2f2f2;
  border: 2px dashed #aaa;
  transition: background-color 0.3s ease-in-out;
}

.drop-target.hover {
  background-color: #d9d9d9;
}
.image-container {
  transition: transform 0.2s ease-in-out;
}
.image-container.dragging {
  opacity: 0.5; 
}
.image-container.hovered {
  border: 2px dashed #007bff;
}
